<h1><%= @patient.name %></h1>
<h4>Age: <%= @patient.age %></h4>
<br>
<h3>Appointments:</h3>
<br>
<%= @patient.appointments.each do |appointment| %>
<% date = appointment.appointment_datetime %>
<p>Time: <%= date.strftime("%B") %> <%= date.strftime("%e") %>, <%= date.strftime("%Y") %> at <%= date.strftime("%H") %>:<%= date.strftime("%M") %><br>
  Doctor: <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
  <br>
<% end %>